<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">Hello and <strong>Welcome</strong></h1>
        <div class="row center">
          <h5 class="header col s12 white-text">Thank you for the opportunity to showcase some of my skills</h5>
        </div>
        <div class="row center">
         <button class="btn-large waves-effect waves-light teal lighten-1"><%= link_to 'Connect', "/static_pages/contact" %></button>
        </div>
        <br><br>

      </div>
    </div>
    <%= image_tag "background1.jpg", class: "parallax" %>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-darken-4-text"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">General Assembly</h5>

            <p class="light">From January till April 2015 I was enrolled in a Back-End Web Development course that specialized in teaching me the fundamentals in Ruby and Ruby on Rails.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-darken-4-text"><i class="mdi-social-group"></i></h2>
            <h5 class="center">Vance & Engles Aircraft Brokers</h5>

            <p class="light">I have worked as a used aircraft broker for over two years. Since working for Vance & Engles I have closed on seven total aircrafts.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-darken-4-text"><i class="mdi-action-settings"></i></h2>
            <h5 class="center">YouTime Solutions</h5>

            <p class="light">While in my senior year of college I interned as a lead researcher for Paula McGarrell the owner of YouTime Solutions. Paula has taught me lots of great small business practices.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <%= image_tag "background2.jpg", class: "parallax" %></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light center">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax-banner"><%= image_tag "background3.jpg", class: "parallax" %></div>
  </div>